html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login {
  color: black;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgb(18, 94, 247), rgb(30, 6, 83));
  background-blend-mode: overlay;
  padding: 0;
  
  position: relative; /* Necessary for absolutely positioning the image */
}

.top-right-image {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  -webkit-text-fill-color: var(--chat-color);
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

label {
  margin-bottom: 5px;
  -webkit-text-fill-color: var(--chat-color);
  font-weight: bold;
  text-align: left; /* Ensure labels are left-aligned */
}

input[type="email"],
input[type="password"],
input[type="number"] {
  -webkit-text-fill-color: rgba(139, 134, 188, 0.877);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  opacity: 0.8;
}

button[type="submit"] {
  background-color: #00d1ff;
  color: rgb(29, 40, 92);
  padding: 10px 20px;
  border: none;
  -webkit-text-fill-color: rgb(64, 51, 122);
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #9c1de7;
}

.error-message {
  color: #e60626;
  font-size: 20px;
  margin-bottom: 10px;
}

.forgot-password-link {
  margin-top: 10px;
  text-align: center;
}

.forgot-password-link a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}
